body {
  background-color: white;
  color: black;
}

p{
  color: black;
}

li{
  color: black;
}

h1, .markdown-rendered h1{
  color:black;
}

h2, .markdown-rendered h2{
  color:black;
}

.filetree-sidebar{
background-color:rgb(255, 209, 228);
}/* 왼쪽 사이드 바 */

.markdown-rendered mark{
  color:rgb(255, 209, 228);
}
