body {
  background-color: white;
  color: black;
}

p{
  color: black;
}

li{
  color: black;
}

h1, .markdown-rendered h1{
  color:black;
}

h2, .markdown-rendered h2{
  color:black;
}

h3, .markdown-rendered h3{
  color:black;
}


.filetree-sidebar{
background-color:rgb(255, 209, 228);
}/* 왼쪽 사이드 바 */

.markdown-rendered mark{
  background-color:rgb(255, 209, 228);
  color: white;
}

.search-button {
  background-color:white;
}

.search-button span{
 color:black;
}

.notelink.active-note{
  background-color:white; 
} /* 왼쪽 사이드 바 */
.notelink.active-note a {
  color: rgb(255, 209, 228);
}/* 왼쪽 사이드 바 */
